@font-face {
  font-family: "san";
  src: url("../fonts/San\ Francisco\ mediom.ttf");
}
@font-face {
  font-family: "sanb";
  src: url("../fonts/San\ Francisco\ bold\ .ttf");
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "san";
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 95vh;
  background-color: #71dfe7;
}
.warpper {
  width: 420px;
  height: 270px;
  background-color: #92b4ec;
  border-radius: 4px;
  padding: 30px;
}
.warpper form {
  background-color: white;
  height: 210px;
  cursor: pointer;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
form img {
  max-width: 148px;
  display: none;
}
form .content {
  /* display: none; */
}
form .content i {
  color: #92b4ec;
  font-size: 55px;
}
form .content p {
  color: #92b4ec;
  font-size: 16px;
  margin-top: 15px;
}
.warpper .details {
  margin-top: 25px;
  opacity: 0;
  pointer-events: none;
}
.details textarea {
  width: 100%;
  height: 128px;
  padding: 15px;
  outline: none;
  background: none;
  border: 1px solid white;
  border-radius: 4px;
  color: white;
  font-size: 18px;
}
.details .buttons {
  display: flex;
  justify-content: space-between;

  margin-top: 20px;
}
.buttons button {
  height: 35px;
  width: calc(100% / 2 - 10px);
  outline: none;
  border: none;
  color: #92b4ec;
  background-color: white;
  border-radius: 5px;
  font-size: 16px;
  font-family: "sanb";
  font-weight: 500;
}
